.aside {
 background: linear-gradient(32deg, var(--mantine-color-blue-6) 0%, var(--mantine-color-green-6) 100%);
  background-size: cover;
  height: 80%;
  border-radius: var(--mantine-radius-md);
  color: var(--mantine-color-dark-9);
  box-shadow: var(--mantine-shadow-lg);
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  font-weight: 700;
}

.input {
  margin-bottom: var(--mantine-spacing-sm);
}

.button {
  margin-top: var(--mantine-spacing-md);
}