.root {
  background: linear-gradient(135deg, var(--mantine-color-orange-5) 0%, var(--mantine-color-pink-5) 50%, var(--mantine-color-violet-5) 100%);
  border: rem(1px) solid var(--mantine-color-yellow-5);
  box-shadow: var(--mantine-shadow-lg);
}

.indicator {
 background-image: linear-gradient(
    to right,
    var(--mantine-color-cyan-6),
    var(--mantine-color-teal-6)
  );
}

.control {
  &::before {
    display: none;
  }
}

.label {
  &,
  &:hover {
    &[data-active] {
      color: var(--mantine-color-white);
    }
  }
}