.control {
	width: 100%;

	@mixin hover {
		background-color: light-dark(
			var(--mantine-color-gray-0),
			var(--mantine-color-dark-8)
		);
	}
}

.icon {
	width: rem(21px);
	height: rem(21px);
	border-radius: rem(21px);
}
